body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", sans-serif;
    letter-spacing: 0.03em;
}

h1 {
    margin-top: 80px;
}

h2 {
    text-align: center;
}

.page {
    width: 600px;
}

.head {
    display: grid;
    color: antiquewhite;
    background-color: rgb(8, 8, 8);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #777;
    text-align: center;
    padding: 1rem;

}

.head:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(246, 240, 240);
}

.image {
    grid-column: 1 / 2;
   
    border-radius: 1rem;
}

.name {
    grid-column: 2 / 3;
   
}

p {

    text-align: center;

}

footer {
    background-color: black;
    color: antiquewhite;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #777;
}

footer:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(246, 240, 240);
}