body {
    background: linear-gradient(to right, #d5dbdf, #efd9af);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

h1 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 30px;
}

h2 {
    text-align: center;
}

.page {
    width: 650px;
}

.head {
    display: grid;
    color: antiquewhite;
    background-color: rgb(6, 55, 82);
    border-radius: 1rem;
    box-shadow: 0 0 2rem #777;
    text-align: center;
    padding: 1rem;
}

.head:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(221, 175, 125);
}

.image {
    grid-column: 1 / 2;
   
    border-radius: 1rem;
}

.name {
    grid-column: 2 / 3;
}

p {
    text-align: center;
}

footer {
    background-color: rgb(6, 55, 82);
    color: antiquewhite;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgb(71, 69, 69);
}

footer:hover {
    color: rgb(10, 10, 10);
    background-color: rgb(221, 175, 125);
}