h2 {color: black; margin: 0; border-bottom: 1px dashed #999;}
section {margin: 10px auto; width: 400px; border:1px solid #bbb; padding: 7px;}

@media (min-width: 32.5em) {
    h2 {color: blue}
}

@media (min-width: 65em) {
    h2 {color: green}
}